<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>

  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <button class="btn btn-lg btn-success" data-ui-sref="main.list">What's Included?</button>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul>
      <li ng-repeat="stop in stopsNearbyJeff">{{ stop.stop_name }} (Stop code: {{ stop.stop_code }})</li>
    </ul>
  </div>
</div>

<div class="row marketing">
  <div data-ui-view></div>
</div>
