<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4" id="stops-nearby">
    <button data-ng-repeat="stopNearby in stopsNearby | orderBy:'stop_name'" type="button"
        class="btn btn-default btn-block btn-lg btn-primary" ng-click="selectStop(stopNearby.stop_id)">
      {{stopNearby.stop_name}}
    </button>
    <p data-ng-show="loadingStops">Loading Stops Nearby&hellip;</p>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4" id="routes-nearby">
    <button data-ng-repeat="routeNearby in routesNearby | orderBy:'route_short_name'" type="button"
        class="btn btn-default btn-block btn-lg btn-primary" ng-click="selectRoute(routeNearby.route_id)">
      {{routeNearby.route_short_name}} &mdash; {{routeNearby.route_long_name}}
    </button>
    <p data-ng-show="loadingRoutes">Loading Routes Nearby&hellip;</p>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4" id="stop-times">
    <button data-ng-repeat="stopTime in stopTimes | orderBy:'stop_time'" type="button"
        class="btn btn-default btn-block btn-lg btn-primary">
      {{stopTime.stop_time}}
    </button>
    <p data-ng-show="loadingStopTimes">Loading Stop Times&hellip;</p>
  </div>
</div>